header {
	background-color: white;
}
.top-bar {
	background-color: #61578b;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
}
.top-bar a {
	color: white;
}
.top-bar .top-nav-right span {
	padding: 0 20px;
}
.main-nav {
	padding: 20px 15px;
}
@media print, screen and (max-width: 64em) {
    .main-nav {
        background: #61578b;
	}
}

.main-nav .menu li {
	padding-left: 60px;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	/* position: relative; */
}
.main-nav .mega-menu li {
	padding-left: 0;
}
.main-nav .menu li a {
	position: relative;
	color: #61578b;
	display: inline-block;
}

.main-nav .menu li a:before {
	content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 0;
    background: #A5864C;
    height: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	width: 0;
}
.main-nav .menu li a:hover:before {
	left:0%;
	width: 100%
}
.main-nav .mega-menu li a {
	padding-left: 0;
}
.main-nav .mega-menu li a:before {
	left: 0;
	height: 3px;
}
.main-nav .mega-menu li a:hover:before {
	right: 0;
}
.mega-menu .dropdown-pane {
	width: 100%;
	margin: 0 auto !important;
	left: 0% !important;
	right: 0% !important;
	border: none;
	background-color: #f2f2f2;
	padding: 2rem;
}

.mega-menu .menu {
	background: none;
}

.mega-menu > a::after {
	display: none;
}
.drop-down .dropdown-pane{
	background: none;
	border: none;
}


.addmissions-side-menu {
	position: fixed;
	width: 180px;
	background-color: #4A4A4A;
	color: white;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	top: 350px;
	transition: 0.3s;
	right: -120px;
}

@media screen and (max-height: 350px) {
    .addmissions-side-menu {
        right: 0px;
	}
}

.addmissions-side-menu .cell:first-child {
	border-top-left-radius: 5px;
}
.addmissions-side-menu .icon {
	border-right: .5px solid #cccccc;
}
.addmissions-side-menu .cell {
	border-bottom: .5px solid #cccccc;
	font-weight: bold;
}
.addmissions-side-menu:hover {
	right: 0;
}

.addmissions-side-menu .cell a{
	color: white;
}

.addmissions-side-menu .cell.last-row {
	border-bottom: none;
}
.addmissions-side-menu .cell.first-row {
	background-color: #A5864C;
}
.addmissions-side-menu .cell{
	padding:12px;
}
/* hamburger menu animation */
.container {
	display: inline-block;
	cursor: pointer;
	padding-left: 19px;
}
  
.bar1, .bar2, .bar3 {
	width: 30px;
	height: 2px;
	background-color: #ffffff;
	margin: 8px 0;
	transition: 0.4s;
}
  
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-7px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-7px, -7px);
}
#search {
	color: white;
	font-weight: normal;
  }
#offCanvasTop1{
	top: 80px;
	height: 100%;
  }
.js-off-canvas-overlay.is-visible {
	opacity: 0;
  }
  .top-bar ul{
	  background: none;
  }
  #menu-item{
	  color:black;
  }
  @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
  @import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);
  
  
  #wrap {
	margin: 50px 100px;
	display: inline-block;
	position: relative;
	height: 60px;
	float: right;
	padding: 0;
	position: relative;
  }
  
  input[type="text"] {
	height: 60px;
	font-size: 55px;
	display: inline-block;
	font-family: "Lato";
	font-weight: 100;
	border: none;
	outline: none;
	color: #555;
	padding: 3px;
	padding-right: 60px;
	width: 0px;
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	z-index: 3;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	cursor: pointer;
  }
  
  input[type="text"]:focus:hover {
	border-bottom: 1px solid #BBB;
  }
  
  input[type="text"]:focus {
	width: 700px;
	z-index: 1;
	border-bottom: 1px solid #BBB;
	cursor: text;
  }
  input[type="submit"] {
	height: 67px;
	width: 63px;
	display: inline-block;
	color:red;
	float: right;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
	text-indent: -10000px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity .4s ease;
  }
  
  input[type="submit"]:hover {
	opacity: 0.8;
  }