header {
	background-color: white;
}
.top-bar {
	background-color: #61578b;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
}
.top-bar a {
	color: white;
}
.top-bar .top-nav-right span {
	padding: 0 20px;
}
.main-nav {
	padding: 20px 15px;
}
.main-nav .menu li {
	padding-left: 70px;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	/* position: relative; */
}
.main-nav .mega-menu li {
	padding-left: 0;
}
.main-nav .menu li a {
	position: relative;
	color: #61578b;
	display: inline-block;
}

.main-nav .menu li a:before {
	content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 0;
    background: #ae936c;
    height: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	width: 0;
}
.main-nav .menu li a:hover:before {
	left:0%;
	width: 100%
}
.main-nav .mega-menu li a {
	padding-left: 0;
}
.main-nav .mega-menu li a:before {
	left: 0;
	height: 3px;
}
.main-nav .mega-menu li a:hover:before {
	right: 0;
}
.mega-menu .dropdown-pane {
	width: 100%;
	margin: 0 auto !important;
	left: 0% !important;
	right: 0% !important;
	border: none;
	background-color: #f2f2f2;
	padding: 2rem;
}

.mega-menu .menu {
	background: none;
}

.mega-menu > a::after {
	display: none;
}

.addmissions-side-menu {
	position: fixed;
	right: 0;
	width: 120px;
	background: #4A4A4A;
	color:white;
}
.addmissions-side-menu .icon {
	border-right: .5px solid #cccccc;
}
.addmissions-side-menu .cell {
	border-bottom: .5px solid #cccccc;
	padding: 15px;;
}
.addmissions-side-menu .cell.last-row {
	border-bottom: none;
}