header {
	box-shadow: 0px -2px 10px #4a4a4a;
	position: fixed;
	width: 100%;
}
main {
	padding-top: 70px;
}
.top-bar {
	background-color: #61578b;
	color: white;
	padding: 15px;
	font-weight: bold;
	line-height: 0;
}
.top-bar ul {
	background: none;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.top-bar a {
	color: white;
}
.top-bar a.item {
	color: #61578b;
	padding: .5rem;
}
.top-bar .top-nav-right span {
	padding: 0 20px;
}
.main-nav {
	background-color: white;
	padding: 15px 15px;
}
@media print, screen and (max-width: 64em) {
    .main-nav {
        background: #61578b;
	}
}

#info-menu .menu li {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 17px;
	padding: 5px 0
}
#info-menu.dropdown.menu>li.is-dropdown-submenu-parent>a {
	padding: 0;
}
#info-menu.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
	display: none;
}
#info-menu.dropdown.menu>li.is-active>a	 {
	color: white;
}
#info-menu .submenu {
	background-color: white;
	width: 250px;
	margin-top: 15px;
	margin-left: -5px;
}
#info-menu li.is-submenu-item.is-dropdown-submenu-item:hover {
	background-color: #dddddd;
}

.main-nav .menu li{
	padding-left: 60px;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: bold;
}
.main-nav .mega-menu li {
	padding-left: 0;
}
.main-nav .show-for-large .menu li a {
	position: relative;
	color: #61578b;
	display: inline-block;
	font-size: 18px;
}

.main-nav .show-for-large .menu li a:before {
	content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 0;
    background: #A5864C;
    height: 4px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	width: 0;
}
.main-nav .show-for-large .menu li a:hover:before, .main-nav .show-for-large .menu li a.visible-link:before {
	left:0%;
	width: 100%
}
.main-nav .dropdown-pane .menu li a:before {
	left: 0;
	height: 3px;
}
.main-nav .dropdown-pane .menu li a:hover:before {
	right: 0;
}
.dropdown-pane {
	padding: 2rem;
	left: 30% !important;
    width: 70%;
}
.main-nav .show-for-large .dropdown-pane li a {
	color: #4a4a4a;
	font-weight: normal;
	padding-left: 0;
	font-size: 16px;
}
.main-nav .dropdown-pane li {
	padding-left: 0;
}
.main-nav .dropdown-pane .title {
	font-size: 20px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    border-bottom: 1px solid #ccc;
}

.mega-menu .menu {
	background: none;
}

.mega-menu > a::after {
	display: none;
}
.drop-down .dropdown-pane{
	background: none;
	border: none;
}


.addmissions-side-menu {
	position: fixed;
	width: 180px;
	background-color: #4A4A4A;
	color: white;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	top: 350px;
	transition: 0.3s;
	right: -120px;
}

@media screen and (max-height: 350px) {
    .addmissions-side-menu {
        right: 0px;
	}
}

.addmissions-side-menu .cell:first-child {
	border-top-left-radius: 5px;
}
.addmissions-side-menu .icon {
	border-right: .5px solid #cccccc;
}
.addmissions-side-menu .cell {
	border-bottom: .5px solid #cccccc;
	font-weight: bold;
}
.addmissions-side-menu:hover, .addmissions-side-menu.top {
	right: 0;
}

.addmissions-side-menu .cell a {
	color: white;
	padding: 12px;
}

.addmissions-side-menu .cell.last-row {
	border-bottom: none;
}
.addmissions-side-menu .cell.first-row {
	background-color: #A5864C;
}
.addmissions-side-menu .cell{
	padding:12px;
}
/* hamburger menu animation */
.container {
	display: inline-block;
	cursor: pointer;
	padding-left: 19px;
}

.bar1, .bar2, .bar3 {
	width: 30px;
	height: 2px;
	background-color: #ffffff;
	margin: 8px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-7px, -7px);
}
.search {
	color: white;
	font-weight: normal;
}


#wrap {
	/* margin: 50px 100px; */
	display: inline-block;
	position: relative;
	/* height: 60px; */
	/* float: right; */
	padding: 0;
}
.top-bar #wrap input {
	max-width: 500px;
}
#wrap i::focus {
	outline: none;
}

input[type="text"] {
	height: 30px;
	display: inline-block;
	border: none;
	outline: none;
	color: #fff;
	padding: 3px;
	padding-right: 33px;
	width: 0px;
	position: absolute;
	top: -7px;
	right: -25px;
	background: none;
	z-index: 3;
	transition: width 1s cubic-bezier(0.000, 0.795, 0.000, 1.000), background-color 1s cubic-bezier(0.000, 0.000, 1.000, 1.000), right 2s cubic-bezier(0.000, 0.000, 1.000, 1.000);
	cursor: pointer;
	box-shadow: none;
	background-color: transparent;
}
input[type="text"]::after {
	font-family: "Font Awesome 5 Pro";
	content: '\f002';
	font-weight: 900;
}

input[type="text"]:focus {
	width: 700px;
	z-index: 1;
	cursor: text;
	background-color: #61578b;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #DDD;
	right: 10px;
}
button[type="submit"] {
	/* height: 67px; */
	/* width: 63px; */
	display: inline-block;
	color:white;
	/* float: right; */
	/* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat; */
	/* text-indent: -10000px; */
	border: none;
	/* position: absolute;
	top: 0;
	right: 0; */
	z-index: 2;
	cursor: pointer;
	/* opacity: 0.4; */
	/* cursor: pointer; */
	/* transition: opacity .4s ease; */
}

/* button[type="submit"]:hover {
	opacity: 0.8;
  } */

  .overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 70px;
	left: 0;
	background-color: white;

	overflow-y: hidden;
	transition: 0.5s;
  }

  .overlay-content {
	position: relative;
	top: 0;
	width: 100%;
	text-align: left;
  }
  .main-menu {
	  padding-left: 10px;
  }
  #myNav{
	background-color: #f2f2f2;
  }


  .main-menu .hide-for-large a {
	padding: 8px;
	text-decoration: none;
	font-size: 22px;
	color: black;
	display: block;
	transition: 0.3s;
  }
  .main-nav .hide-for-large .menu li {
	  padding-left: 0px;
  }

  .call-action {
	  padding: 10px;
	  padding-top: 0;
  }
  #apply {
	  background-color: #61578b;
	  margin-bottom: -6px;
	  font-size: 17px;
  }
  #getInfo {
	  font-size: 17px;
  }

  #visit {
	font-size: 17px;
}
.social-media i {
	padding-right: 5px;
	padding-top: 10px;
}

.button.hollow {
	border: 1px solid #61578b;
	color: #61578b;
}


  .overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
  }

  .overlay .closebtn {
	position: absolute;
	top: -16px;
	right: 25px;
	font-size: 40px;
  }

  @media screen and (max-height: 450px) {
	.overlay {overflow-y: auto;}
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  }

#offCanvasTop1 {
	top: 80px;
	height: 100%;
  }
.js-off-canvas-overlay.is-visible {
	opacity: 0;
  }

  .small-menu a{
	  color: #87672C;
	  font-size: larger;
	  padding: 3px;
  }
  hr{
	  margin: 0px;
  }
  .small-menu i{
	color: #87672C;
	padding-right: 5px;
  }

  #main-small-nav {
	  font-weight: 500;
	  /* padding-top: 0px; */
  }
  #main-small-nav a {
	color: #4A4A4A;
	/* font-size: 18px; */
  }
  #button-group {
	  margin-top: 22px;
	  margin-bottom: 22px;
  }
  .button-group .button{
	  margin-right: .75rem;
  }
  #button-group .button.hollow {
	  padding-right: 5px;
	  padding-left: 5px;
  }

  .vertical.menu.drilldown li {
	  /* margin-bottom: 1px; */
	  border-top: 1px solid #f2f2f2;
  }
  .animate-height{
	box-shadow: 1px 2px 5px lightgrey;
	background-color: #fefefe;
	max-width: 100%;
}
/* .main-small-nav .is-drilldown .animate-height {
	height: 285px !important;
} */

#main-small-nav .menu .nested li{
	font-weight: 400 !important;
}
.vertical.menu.drilldown li a{
	padding: 18px;
	padding-left: 25px;
}
#mobile-search.off-canvas {
	background-color: #61578b;
	padding-top: 5px;
	padding-bottom: 5px;
}
#mobile-search input[type='search'], #mobile-search form .error select[type='search'], form .error #mobile-search select[type='search'] {
	color: #fff;
	background-color: #61578b;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #DDD;
	border-radius: 0;
}
#mobile-search a {
	color: #fff;
}
.off-canvas.is-transition-overlap.is-open {
	box-shadow: none;
}
.drilldown .is-drilldown-submenu {
	/* top: 5px; */
}

/* <div class="container" onclick="myFunction(this)" data-toggle="offCanvasTop1"> */
.drilldown .is-drilldown-submenu-parent>a::after {
    display: block;
	content: '\f054';
	font-family: 'Font Awesome 5 Pro';
    border: none;
    position: absolute;
    top: 50%;
    margin-top: -6px;
	right: 3rem;
	font-weight: 500;
	font-size: 18px;
}

.drilldown .js-drilldown-back>a::before {
	content: '\f053';
	font-family: 'Font Awesome 5 Pro';
    border: none;
    vertical-align: middle;
	/* padding-bottom: 16px; */
	position: absolute;
	left: 30px;

}
.drilldown .is-drilldown-submenu-parent[aria-expanded="true"]>a {
	background-color: #f2f2f2;
}
/* .drilldown .is-drilldown-submenu-parent>a.custom-parent + ul {
	top: 5px;
	margin-top: 0px;
} */
.drilldown .is-drilldown-submenu-parent.is-drilldown-submenu-item>a + ul {
	/* margin-top: -5px; */
}

li.js-drilldown-back a {
	background-color: #f2f2f2;
	padding-top: 15px !important;
	height: 45px;
	/* margin-top: -5px; */
	font-weight: bold;
	text-align: center;
	/* font-size: 18px; */
}
li.is-drilldown-submenu-item.is-drilldown-submenu-item a{
	/* margin-bottom: 1px; */
}
ul.menu.vertical.nested.submenu.is-active{
	/* padding-top: 5px; */
	background-color: #f2f2f2;
}

#mobile-info.position-bottom{
	z-index: 100;
	height: 296px;
}

#mobile-info{
	font-size: 18px;
}

#mobile-info a i{
	color: #424242; 
}
#info-nav{
	background-color: #fefefe;
	margin-left: 0;
	padding-bottom: 4px;
}
/* .off-canvas.is-transition-overlap.is-open {
    box-shadow: 1px -1px 8px lightgrey;
} */
#info-x{
	font-size: 16px;
	padding-bottom: 0px;
}
#info-x li a{
	padding-left: 25px;
}
.lines li{
	border-top-style: solid;
    border-width: .5px;
	border-color: #DDDDDD;
}
#info-for {
	font-size: 20px;
	color: #4a4a4a;
	font-weight: bold;
	padding-bottom: 15px;
	padding-top: 18px;
}





